#woocommerce_pagos_traduccion{
  visibility: hidden;
}
#woocommerce_pagos_seguridad{
  visibility: hidden;
}

label[for="woocommerce_pagos_traduccion"]
{
   font-size: 20px;
}
label[for="woocommerce_pagos_seguridad"]
{
   font-size: 20px;
}



#payment .payment_methods > li:not(.woocommerce-notice) {
    background-color: #f5f5f5;
    width: 500px;
}